.container{
    max-width: 50%;
    margin:auto;
}

 td{
    border-collapse: collapse;
    margin: 0%;
    border-spacing: 0;
    padding:0%;
    border: 1px solid #bec6d4;

}  
.box{
    border: 3px solid #344861;
} 
.bottomborder{
    border-bottom: 3px solid #344861;
}
.rtborder{
    border-right: 3px solid #344861;
}
 

.validate{
    margin: 5% 25%;
    
    padding: 5px;
}
 button{
     font: 30px;
     padding: 10px;
     margin:5px;
     text-transform: uppercase;
 }
table{
   border-collapse: collapse;
    
    border-spacing:0ch;
}
input{
    width: 60px;
    height :60px;
    padding:0%;
    border: none;
    font-size:24px;
    text-align: center;
    font-family: Source Sans Pro,sans-serif;
     
}
.inputpre{
    background-color: #EBEBE4;
}
.wrong{
    color: rgb(241, 65, 65);
}

.directselect{
     

    background-color: #badefa; 
}
.indirectselect{
    background-color: #e2e7ed;
}
input:hover{
    background-color:#86d3f7;
}
.bts{
    display:flex;
    justify-content: space-around;
    margin-right:30%
    

}